<!-- Partial for undevoured burgers, left list -->

<li class="list-group-item">
  <div class="all-labels">
    <span class="label card" id={{this.id}}>{{this.id}}. {{this.burger_name}}</span>
  </div>
  <button type="button" data-id="{{this.id}}" class="devourBurgerBtn">Devour It!!</button>
</li>